<head>
  <link rel="stylesheet" href="/css/about.css">
  <link rel="stylesheet" href="/css/social.css">
  <link rel="stylesheet" href="/css/video-player.css">
  <link rel="stylesheet" href="/css/promise.css">
</head>

<div class="about-background">
  <div class="container-about-header">
    <center>
      <h1>About Us</h1>
    </center>
  </div>
  <div class="container-fluid promise" >
    <center>
      <div class="video-player">
        <iframe width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/-yCUuy-aX80?si=Vt-eH92ZDxaQ4BbU&amp;start=603" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div> 
    </center>
  </div>
  <br><br><br>
  <div class="container-image">
    <center>
      <img src="/images/buonos-old.jpg" alt="buonos-old">
    </center>
  </div>
  <br>
  <div class="container-about">
    <center>
      <h5>Jimmy and family from the ORIGINAL BUONO'S are BACK.  At  BUONO'S we believe we stay true to NYC style pizza, by using fresh local ingredients. BUONO'S has been bringing New York-style pizza to Arizona since 1989!  Just like a local NYC neighborhood pizzeria.  We are an independently owned and operated pizzeria restaurant. Joining Jimmy is his fiance Shelly who is a Military Veteran and a ICU Nurse</h5>
    </center> 
    <br>
  </div>
  <div class="container-about-header">
    <center>
      <h1>Meet The Team</h1>
    </center>
  </div>
  <div class="container-image">
    <center>
      <img src="/images/team-work.jpg" alt="">
    </center>
  </div>
  <br>
  <div class="container-about">
    <center>
      <h5>We love to build personal relationships with our staff and our customers. Come find out how to become part of our culture. Be apart of decades of quality wrapped around more than a hundred years of collabrive experience. For a small kitchen and restaurant we push the limits of exellence.</h5>
    </center> 
  </div>
  <div class="container-about-header">
    <center>
      <h1>Dine in or take out</h1>
    </center>
  </div>
  <div class="container-about">
    <center>
      <h5>We have worked to package our meals in a way that lets you bring the quality of our meals into your home. We always love to see you in person, but even when we can't we ensure that your dining experience is top notch!</h5>
    </center>
  </div>
  <div class="container-about-header">
    <center>
      <h1>Made in store</h1>
    </center>
  </div>
  <div class="container-about">
    <center>
      <h5>We refuse to compromise.  We use the freshest and finest ingredients.  Our Pizza Dough is made fresh daily in house and we make our sauce in house as well.</h5>
    </center>  
  </div>
  <div class="container-about-header">
    <center>
      <h1>Information</h1>
    </center>
  </div>
  <div class="container-about">
    <center>
      {{#each information as |i|}}
        <li>{{i.company}}</li>
      {{/each}}
      <a href="tel:+14808991200" style="text-decoration:none;">
        {{#each information as |i|}}
          <h4>{{i.phoneNumber}}</h4>
        {{/each}}
      </a>
      <a href="https://www.google.com/maps/dir//1464+E+Williams+Field+Rd,+Gilbert,+AZ+85295/@33.3074096,-111.8409328,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x872bac74ffc357e1:0xed805996e92f4bc4!2m2!1d-111.7585316!2d33.3074368?entry=ttu" style="text-decoration:none;
      ">
        {{#each information as |i|}}
          <h5>{{i.address}}</h5>
        {{/each}}
      </a>
      {{#each information as |i|}}
        <h5>{{i.email}}</h5> 
      {{/each}}
    </center>
  </div>
  <div class="container-about-header">
    <center>
      <h1>Hours of operation</h1>
    </center>
  </div>
  <div class="container-about">
    <center>
      <ul>
        {{#each hours as |h|}}
          <li>{{h.date}}</li>
        {{/each}}
      </ul>
    </center>  
  </div>
  <div class="container-about-header">
    <center>
      {{#each information as |i|}}
        <h1>{{i.name}}</h1>
      {{/each}}
    </center>
  </div>
  <div class="container-about">
    <center>
      {{#each information as |i|}}
        <h3>{{i.description}}</h1>
      {{/each}}
    </center>
  </div>
  <center>
    <ul class="nav flex-row social">
      <a href="https://www.facebook.com/buonosgilbert/" class="btn"><i class="icon fa fa-facebook"></i></a>
      <a href="https://www.instagram.com/buonospizzagilbert/?hl=en"  class="btn"><i class=" icon fa fa-instagram"></i></a>
      <a href="https://www.yelp.com/biz/buono-s-pizza-gilbert"  class="btn"><i class=" icon fa fa-yelp"></i></a>
    </ul>
    <h3 class="copy-right">	&copy; 2023 buonos pizza</h3>
  </center>
</div>