<div class="create-item-background">
	<div class="container-create-item-header">
    <center>
      <h1>Create item</h1>
      <h4>For admin only</h4>
    </center>
  </div>

	<div class="container-create-item">
		<form id="addMenuItem">
			<div class="container py-3">
				<h1 class="">Create a new menu item</h1>

				<div class="mb-3 py-3">
          <label for="menu-item-name" class="form-label">
						Menu item Name
					</label>

          <input id="name" type="text" value="{{cat.name}}" class="form-control" placeholder="Menu Item Description">
          <input type="hidden" name="cat-id" value="{{cat.id}}"/>
        </div>

				<div class="mb-3 py-3">
					<label for="menu-item-description" class="form-label">
						Menu item description
					</label>

					<input id="description" type="text" value="{{cat.description}}" class="form-control" placeholder="Menu Item Description">
				</div>

				<div class="category-dropdown-main">
					<h6>Item category *required</h6>
					<div class="category-dropdown">
						<select class="" name="categories" 	id="categories">
							{{#each cats as |cat|}}
								<option  value="{{cat.id}}" id="categoryId">{{cat.name}}</option>
							{{/each}}
						</select>
					</div>
				</div>

				<div class="d-flex justify-content-evenly">
					<button
						type="submit"
						class="btn btn-primary">
							Create
					</button>

					<div>
						<a href="/menu" id="cancelButton" class="btn btn-primary">
							Cancel
						</a>
					</div>
				</div>
			</div>
		</form>
	</div>

</div>

<script src="/js/createMenuItem.js"></script>