<head>
  <link rel="stylesheet" href="/css/updateInformation.css">
</head>

<div class="information-background">
	<div class="container-information-header">
    <center>
      <h1>Create Menu Item</h1>
      <h4>For admin only</h4>
    </center>
  </div>

	<div class="container-update-item">
		<div class="container-fluid item">
			<form id="createMenuItem">
				<div class="container py-3">
					<h2 class="">Menu Item</h2>
					<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapsable-catgeory-list" aria-expanded="false" aria-controls="collapsable-catgeory-list">
            See all active menu items
          </button>
					<div class="collapse" id="collapsable-catgeory-list">
            <div class="card card-body">
              <ul>
                {{#each c as |x|}}  
                  <li>{{x.name}}</li>           
                {{/each}}
              </ul>
            </div>
          </div>

          <br><br>

					<div class="forms">
						<label 
							for="menu-item-switchy" 
							class="form-label">
							<b>Switchy</b>
							<b style="color:#FF0000";>*required</b>
						</label>
						<input
							id="switchy" 
							type="checkbox"
							value="{{item.switchy}}" 
							checked="{{item.swtchy}}"
							required
						>
						
						<br>

						<label 
							for="menu-item-name" 
							class="form-label"
						>
							<b>Menu item name</b>
							<b style="color:#FF0000";>*required</b>
						</label>
						<input 
							id="name" 
							type="text" 
							value="{{i.name}}" 
							class="form-control" 
							placeholder="Some name..."
							required
						>
						<input 
							type="hidden"
							name="cat-id" 
							value="{{i.id}}"
						/>

						<label 
							for="menu-item-description" 
							class="form-label"
						>
							<b>Menu item description</b>
							<b style="color:#FF0000";>*required</b>
						</label>
						<input 
							id="description" 
							type="text" 
							value="{{cat.description}}" 
							class="form-control" 
							placeholder="Some description"
							required
						>

						<label 
							for="menu-item-size1" 
							class="form-label">
							<b>Size1</b>
							<b style="color:#FF0000";>*required</b>
						</label>
						<input 
							id="size1" 
							type="text"
							value="" 
							class="form-control"
							placeholder=""
							required
						>

						<label 
							for="menu-item-price1" 
							class="form-label">
							<b>Price1</b>
							<b style="color:#FF0000";>*required</b>
						</label>
						<input 
							id="price1" 
							type="text"
							value="" 
							class="form-control"
							placeholder=""
							required
						>

						<br>

						<label 
							for="menu-item-size2" 
							class="form-label">
							<b>Size2</b>
							{{!-- <b style="color:#FF0000";>*required</b> --}}
						</label>
						<input 
							id="size2" 
							type="text"
							value="" 
							class="form-control"
							placeholder=""
							{{!-- require --}}
						>

						<label 
							for="menu-item-price2" 
							class="form-label">
							<b>Price2</b>
							{{!-- <b style="color:#FF0000";>*required</b> --}}
						</label>
						<input 
							id="price2" 
							type="text"
							value="" 
							class="form-control"
							placeholder=""
						>

						<br>

						<label 
							for="menu-item-size3" 
							class="form-label">
							<b>Size3</b>
							{{!-- <b style="color:#FF0000";>*required</b> --}}
						</label>
						<input 
							id="size3" 
							type="text"
							value="" 
							class="form-control"
							placeholder=""
						>

						<label 
							for="menu-item-price3" 
							class="form-label">
							<b>Price3</b>
							{{!-- <b style="color:#FF0000";>*required</b> --}}
						</label>
						<input 
							id="price3" 
							type="text"
							value="" 
							class="form-control"
							placeholder=""
						>

						<br>

						<label 
							for="menu-item-toppingPizzaFull" 
							class="form-label">
							<b>Topping Pizza Full</b>
							<b style="color:#FF0000";>*required</b>
						</label>
						<input
							id="toppingPizzaFull" 
							type="checkbox"
							value="{{item.toppingPizzaFull}}" 
							checked="{{item.toppingPizzaFull}}"
							required
						>
						
						<br>

						<label 
							for="menu-item-toppingPizzaFull" 
							class="form-label">
							<b>Topping Pizza Slice</b>
							<b style="color:#FF0000";>*required</b>
						</label>
						<input
							id="toppingPizzaSlice" 
							type="checkbox"
							value="{{item.toppingPizzaSlice}}" 
							checked="{{item.toppingPizzaSlice}}"
							required
						>

						<br>

						<label 
							for="menu-item-toppingPizzaGlutenFree" 
							class="form-label">
							<b>Topping Pizza Gluten Free</b>
							<b style="color:#FF0000";>*required</b>
						</label>
						<input
							id="toppingPizzaGlutenFree" 
							type="checkbox"
							value="{{item.toppingPizzaGlutenFree}}" 
							checked="{{item.toppingPizzaGlutenFree}}"
							required
						>

						<br>

						<label 
							for="menu-item-toppingHotSub" 
							class="form-label">
							<b>Topping Hot Sub</b>
							<b style="color:#FF0000";>*required</b>
						</label>
						<input
							id="toppingHotSub" 
							type="checkbox"
							value="{{item.toppingHotSub}}" 
							checked="{{item.toppingHotSub}}"
							required
						>

						<br>

						<label 
							for="menu-item-toppingColdSub" 
							class="form-label">
							<b>Topping Cold Sub</b>
							<b style="color:#FF0000";>*required</b>
						</label>
						<input
							id="toppingColdSub" 
							type="checkbox"
							value="{{item.toppingColdSub}}" 
							checked="{{item.toppingColdSub}}"
							required
						>

						<br>

						<label 
							for="menu-item-toppingDesert" 
							class="form-label">
							<b>Topping Dessert</b>
							<b style="color:#FF0000";>*required</b>
						</label>
						<input
							id="toppingDesert" 
							type="checkbox"
							value="{{item.toppingDesert}}" 
							checked="{{item.toppingDesert}}"
							required
						>

						<br>

						<label 
							for="menu-item-saladDressing" 
							class="form-label">
							<b>Salad Dressing</b>
							<b style="color:#FF0000";>*required</b>
						</label>
						<input
							id="saladDressing" 
							type="checkbox"
							value="{{item.saladDressing}}" 
							checked="{{item.saladDressing}}"
							required
						>

						<br>

						<label 
							for="menu-item-wingSauce" 
							class="form-label">
							<b>Wing Sauce</b>
							<b style="color:#FF0000";>*required</b>
						</label>
						<input
							id="wingSauce" 
							type="checkbox"
							value="{{item.wingSauce}}" 
							checked="{{item.wingSauce}}"
							required
						>

						<br>

						<label 
							for="menu-item-pastaType" 
							class="form-label">
							<b>Pasta Type</b>
							<b style="color:#FF0000";>*required</b>
						</label>
						<input
							id="pastaType" 
							type="checkbox"
							value="{{item.pastaType}}" 
							checked="{{item.pastaType}}"
							required
						>

						<br>

						<label 
							for="menu-item-marinaraSauce" 
							class="form-label">
							<b>Marinara Sauce</b>
							<b style="color:#FF0000";>*required</b>
						</label>
						<input
							id="marinaraSauce" 
							type="checkbox"
							value="{{item.marinaraSauce}}" 
							checked="{{item.marinaraSauce}}"
							required
						>

						<br>

						<label 
							for="menu-item-desertSauce" 
							class="form-label">
							<b>Dessert Sauce</b>
							<b style="color:#FF0000";>*required</b>
						</label>
						<input
							id="desertSauce" 
							type="checkbox"
							value="{{item.desertSauce}}" 
							checked="{{item.desertSauce}}"
							required
						>
						
						<br><br>

						<label 
              for="image" 
              class="form-label"
            >
              <b>Choose a category:</b>
              <b style="color:#FF0000";>*required</b>
            </label>

						<select 
              id="categories" 
              name="categories" 
              class="form-select"
            >

						{{!-- <option value="{{i.categoryId}}" selected>
                  Current ({{i.categoryId}})
                </option> --}}
              {{#each c as |x|}}
                <option 
                  value="{{x.id}}">{{x.name}}
                </option>
              {{/each}}
							require
            </select>
					</div>

					<br>
					{{!-- <br> --}}

					<div class="d-flex justify-content-evenly">
						<button
							type="submit"
							class="btn btn-primary"
						>
							Create
						</button>
						<button 
							class="btn btn-warning view-menu-button" onclick="history.back()"
						>
							Cancel
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<br><br><br><br><br><br><br>
  <br><br>
</div>

<script src="/js/createMenuItem.js"></script>