<head>
  <link rel="stylesheet" href="/css/specialties.css">
  <link rel="stylesheet" href="/css/loyalty.css">
  <link rel="stylesheet" href="/css/delivery.css">
  <link rel="stylesheet" href="/css/social.css">
  <link rel="stylesheet" href="/css/rotating.css">
  <link rel="stylesheet" href="/css/gallery-flip-animation.css">
  <link rel="stylesheet" href="/css/new-animation.css">
  <link rel="stylesheet" href="/css/style-page.css">
  <link rel="stylesheet" href="/css/magic-card.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>

{{!-- <section label="admin buttons">
  {{#if loggedIn}}
    <center>
      <br><br>
      {{#each homePage as |hp|}}
        <a href="/home/update/{{hp.id}}" class="active btn btn-primary">Update {{hp.name}}</a>
      {{/each}}        
    </center>
    <center>
      {{#each information as |i|}}
        <a href="/information/update/{{i.id}}" class="active btn btn-primary">Update {{i.name}}</a>
      {{/each}}
    </center>
  {{/if}}
</section> --}}

<section label="video-player">
  <div class="video-player">
    <video width="100%" height="" controls loop autoplay muted>
    <source src="/images/buonos-video-2.mp4" type="video/mp4">
    <source src="movie.ogg" type="video/ogg">
  </div>
</section>

<section label="information"> 
  {{#each information as |i|}}
    {{#if i.information1_switch}}
      <center>
        <h6>{{i.style}}</h6>
        <a href={{i.telNumber}} style="text-decoration:none;">
          <h5>{{i.phoneNumber}}</h5>
        </a>
        <a href={{i.map}} style="text-decoration:none;">
          <h5>{{i.address}}</h5>
        </a>
        <a href="mailto: buonosgilbert@yahoo.com" style="text-decoration: none;">
          <h5>{{i.email}}</h5>
        </a>
        <h5>{{i.company}}</h5>
      </center> 
    {{/if}}
  {{/each}} 
</section>

<div class="sub-section buonos-font">
  {{#each homePage as |hp|}}
    {{#if hp.name1Switch}}
      <h2>{{hp.name1}}</h2>
      <h5>{{hp.description1}}</h5>
    {{/if}}
  {{/each}}
</div>

<div class="animation-container">
  <div class="wrapper">
    <input type="radio" name="slide" id="one" checked>
    <input type="radio" name="slide" id="two">
    <input type="radio" name="slide" id="three">
    <input type="radio" name="slide" id="four">
    <input type="radio" name="slide" id="five">

    <div class="img img-1">
      <img src="/images/home-buonos-place.jpg" alt="">
      <div class="centered"><h1>Buonos Pizza</h1></div>
    </div>
    <div class="img img-2">
      <img src="/images/home-pizza-dough.jpg" alt="">
      <div class="centered"><h1>Made in House</h1></div>
    </div>
    <div class="img img-3">
      <img src="/images/home-legend-2.jpg" alt="">
      <div class="centered"><h1>Experienced Chefs</h1></div>
    </div>
    <div class="img img-4">
      <img src="/images/new-york-style.jpg" alt="">
      <div class="centered"><h1>New York Style</h1></div>
    </div>
    <div class="img img-5">
      <img src="/images/buonos-old.jpg" alt="">
      <div class="centered"><h1>Quality Since 1989</h1></div>
    </div>
    <div class="animation-sliders">
      <label for="one" class="one"></label>
      <label for="two" class="two"></label>
      <label for="three" class="three"></label>
      <label for="four" class="four"></label>
      <label for="five" class="five"></label>
    </div>
  </div>
</div>
    
<div class="sub-section buonos-font">
  <section label="specialties">
    {{#each homePage as |hp|}}
      {{#if hp.name2Switch}}
        <div class="container-fluid specialties">     
          <h2>{{hp.name2}}</h2>
          <h5>{{hp.description2}}</h5>
        </div>
      {{/if}}
    {{/each}}
  </section>
</div>

<div class="gallery-container">
  <div class="box">
    <div style="--v: 1;">
      <img src="/images/calzone-2.jpg">
      <h3>Calzone</h3>
    </div>
    <div style="--v: 2;">
      <img src="/images/pizza-specialty-margherita-pizza-2.jpg">
      <h3>Pizza</h3>
    </div>
    <div style="--v: 3;">
      <img src="/images/salad-antipasto-2.jpg">
      <h3>Salad</h3>
    </div>
    <div style="--v: 4;">
      <img src="images/dessert-lemoncello-2.jpg">
      <h3>Dessert</h3>
    </div>
    <div style="--v: 5;">
      <img src="images/stromboli-2.jpg">
      <h3>Stromboli</h3>
    </div>
    <div style="--v: 6;">
      <img src="images/app-wings-2.jpg">
      <h3>Wings</h3>
    </div>
    <div style="--v: 7;">
      <img src="images/hot-sub-philly-steak-2.jpg">
      <h3>Subs</h3>
    </div>
    <div style="--v: 8;">
      <img src="images/pizza-regular-sicilian-2.jpg">
      <h3>Sicilian</h3>
    </div>
  </div>
</div>

<div class="sub-section buonos-font">
  <section label="loyalty">
    {{#each homePage as |hp|}}
      {{#if hp.name3_1Switch}}
        <h2>{{hp.name3_1}}</h2>
        <h5>{{hp.description3_1}}</h5>
        {{#if hp.name3_2Switch}}
          <h6>*Avaliable only through Dine in or in person Take out orders.*</h6>
        {{/if}}
      {{/if}}
    {{/each}}
  </section>
</div>
  
<section label="Loyalty Card">
  <div class="body">
    <div class="magic-card-container">
      <div class="magic-card-1">
        <div class="magic-card-item"></div>
      </div> 

      <div class="magic-card-2">
        <div class="magic-card-item"></div>
      </div>
    </div>
  </div>
</section>

<div class="sub-section buonos-font">
  <section label="takeout-dinein">
    {{#each homePage as |hp|}}
      {{#if hp.name4Switch}}
        <h2>{{hp.name4}}</h1>
        <h5>{{hp.description4}}</h5>
      {{/if}}
    {{/each}}
  </section>
</div>

<div class="sub-section buonos-font">
  <section label="delivery">
    {{#each homePage as |hp|}}
      {{#if hp.name5_1Switch}}
        <h2>{{hp.name5_1}}</h2>
        <h4>{{hp.description5_1}}</h4>
          {{#if hp.slice_switch}}
            <a href="https://slicelife.com/restaurants/az/gilbert/85295/buonos-pizza/menu?utm_campaign=order_now_button&utm_medium=referral&utm_source=buonosgilbert.com">
              <img src="/images/slice-logo-600x200.jpg" class="btn-delivery-main"></img>
            </a>
          {{/if}}

          <ul class="nav flex-row delivery">
            {{#if hp.doordash_switch}}
              <a href="https://www.doordash.com/store/buonos-pizza-gilbert-gilbert-1778796/">
                <img src="/images/delivery-doordash-icon.jpg" class="btn-delivery"></img>
              </a>
            {{/if}}

            {{#if hp.ubereats_switch}}
              <a href="https://www.ubereats.com/store/buonos-pizza-gilbert/gJH4x-XFTACHDY7vQuqWWg">
                <img src="/images/delivery-uber-eats.jpg" class="btn-delivery"></img>
              </a>
            {{/if}}

            {{#if hp.grubhub_switch}}
              <a href="https://www.grubhub.com/restaurant/buonos-pizza-gilbert-1464-e-williams-field-rd-gilbert/2776436">
                <img src="/images/delivery-grubhub.jpg" class="btn-delivery"></img>
              </a>
            {{/if}}
          </ul>

      {{/if}}

      {{#if name5_2Switch}}
        <p>{{description5_2}}</p>
      {{/if}}

      {{#if name5_3Switch}}
        <h4>{{description5_3}}</h4>
      {{/if}}

      {{#if hp.name5_4Switch}}
        <p>{{hp.description5_4}}</p> 
      {{/if}}

      {{#if hp.name5_5Switch}}
        <p>{{hp.description5_5}}</p>
      {{/if}}

    {{/each}}
  </section>
</div>

<div class="social-footer">
  {{#each information as |i|}}
    <h5>{{i.description}}</h5>
  {{/each}}

  {{#each information as |i|}}
    <h4>{{i.company}}</h4>
  {{/each}}

  <a href="tel:+14808991200">
    {{#each information as |i|}}
      <h4>{{i.phoneNumber}}</h4>
    {{/each}}
  </a>

  <a href="https://www.google.com/maps/dir//1464+E+Williams+Field+Rd,+Gilbert,+AZ+85295/@33.3074096,-111.8409328,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x872bac74ffc357e1:0xed805996e92f4bc4!2m2!1d-111.7585316!2d33.3074368?entry=ttu">
    {{#each information as |i|}}
      <h5>{{i.address}}</h5>
    {{/each}}
  </a>

  <a href="mailto: buonosgilbert@yahoo.com">
    {{#each information as |i|}}
      <h5>{{i.email}}</h5> 
    {{/each}}
  </a>

  <div class="row">
    <div class="column">
      <a href="https://www.facebook.com/buonosgilbert/" class="button-social">
        <img src="/images/social-facebook.png" alt="facebook icon"> 
      </a>
    </div>

    <div class="column">
      <a href="https://www.instagram.com/buonospizzagilbert/?hl=en"  class="button-social">
        <img src="/images/social-instagram.png" alt="instagram icon">
      </a>
    </div>

    <div class="column">
      <a href="https://www.yelp.com/biz/buono-s-pizza-gilbert"  class="button-social">
        <img src="/images/social-yelp.png" alt="">
      </a>
    </div>

    <div class="column">
      <a href="https://www.google.com/maps/dir//1464+E+Williams+Field+Rd,+Gilbert,+AZ+85295/@33.3074096,-111.8409328,12z/data=!4m6!4m5!1m0!1m2!1m1!1s0x872bac74ffc357e1:0xed805996e92f4bc4!3e0"  class="button-social">
        <img src="/images/social-google-maps.png" alt="">
      </a>
    </div>
  </div>

  <p>
    COPYRIGHT &copy; 2024 BUONO'S GILBERT - ALL RIGHTS RESERVED. SORRY NO CHECKS. GROUPS OF 8 OR MORE 15% GRATUITY Will BE INCLUDED. ALL PRICES SUBJECT TO CHANGE WITHOUT NOTICE.
  </p> 

  <h5>🤓Powered by: SmileyFaceStudios()🤓</h5>
</div>

<script>
  $(document).ready(function() {
    $('.box div').click(function() {
      if($(this).hasClass('spin')) {
        $('.box div').removeClass('spin');
      }
      else {
         $('.box div').removeClass('spin');
         $(this).addClass('spin');
      }
    });
  });
</script>

<script type="text/javascript" src="/js/vanilla-tilt.js"></script>

<script type="text/javascript">
	VanillaTilt.init(document.querySelector(".magic-card-1"), {
		max: 20,
		speed: 1000,
    glare: true,
    "max-glare": 1
	});

	//It also supports NodeList
	//VanillaTilt.init(document.querySelectorAll(".your-element"));
  VanillaTilt.init(document.querySelector(".magic-card-2"), {
		max: 20,
		speed: 1000,
    glare: true,
    "max-glare": 1
	});
</script>