<center>
  <img src="/images/buonos-logo.jpg" alt="s2" class="d-block" style="width:100%">
  <h1>{{item.name}}</h1>
  <h5>{{item.description}}</h5>
  <h4>{{item.size1}} {{item.price1}}</h4>
  <h4>{{item.size2}} {{item.price2}}</h4>
  <h4>{{item.size3}} {{item.price3}}</h4>

  {{#if item.toppingPizzaFull}}
    <section class="card" id="html-section-tags">
      <button class="collapsible">See all regular full size pizza toppings</button>
      <div class="content">
        <table>
          <tr>
            <th>Regular full size pizza toppings are $2.75 each</th>
          </tr>
          {{#each toppingsRegular as |tr|}}
            <tr>
              <td>{{tr.name}}</td>
            </tr>
          {{/each}}
        </table>
      </div>
    </section>
    <br>
    <section class="card" id="html-section-tags">
      <button class="collapsible">See all premium full size pizza toppings</button>
      <div class="content">
        <table>
          <tr>
            <th>Premium full size pizza toppings are $5.25 each</th>
          </tr>
          {{#each toppingsPremium as |tp|}}
            <tr>
              <td>{{tp.name}}</td>
            </tr>
          {{/each}}
        </table>
      </div>
    </section>
    <br>
  {{/if}}

  {{#if item.toppingPizzaSlice}}
    <section class="card" id="html-section-tags">
      <button class="collapsible">See all regular single pizza slice toppings</button>
      <div class="content">
        <table>
          <tr>
            <th>Regular single pizza slice toppings are $.75 each</th>
          </tr>
          {{#each toppingsRegular as |tr|}}
            <tr>
              <td>{{tr.name}}</td>
            </tr>
          {{/each}}
        </table>
      </div>
    </section>
    <br>
    <section class="card" id="html-section-tags">
      <button class="collapsible">See all premium single pizza slice toppings</button>
      <div class="content">
        <table>
          <tr>
            <th>Premium single pizza slice toppings are $1.50 each</th>
          </tr>
          {{#each toppingsPremium as |tp|}}
            <tr>
              <td>{{tp.name}}</td>
            </tr>
          {{/each}}
        </table>
      </div>
    </section>
    <br>
  {{/if}}

  {{#if item.toppingPizzaGlutenFree}}
    <section class="card" id="html-section-tags">
      <button class="collapsible">See all regular gluten free pizza toppings</button>
      <div class="content">
        <table>
          <tr>
            <th>Regular gluten free pizza toppings are $1.75 each</th>
          </tr>
          {{#each toppingsRegular as |tr|}}
            <tr>
              <td>{{tr.name}}</td>
            </tr>
          {{/each}}
        </table>
      </div>
    </section>
    <br>
    <section class="card" id="html-section-tags">
      <button class="collapsible">See all premium gluten free pizza toppings</button>
      <div class="content">
        <table>
          <tr>
            <th>Premium gluten free pizza toppings are $3.50 each</th>
          </tr>
          {{#each toppingsPremium as |tp|}}
            <tr>
              <td>{{tp.name}}</td>
            </tr>
          {{/each}}
        </table>
      </div>
    </section>
    <br>
  {{/if}}

  {{#if item.toppingHotSub}}
    <section class="card" id="html-section-tags">
      <button class="collapsible">See all hot sub topppings</button>
      <div class="content">
        <table>
          <tr>
            <th>Additional hot sub toppings are $.99 each</th>
          </tr>
          {{#each toppingsHotSub as |ths|}}
            <tr>
              <td>{{ths.name}}</td>
            </tr>
          {{/each}}
        </table>
      </div>
    </section>
    <br>
  {{/if}}

  {{#if item.toppingColdSub}}
    <section class="card" id="html-section-tags">
      <button class="collapsible">See all cold sub topppings</button>
      <div class="content">
        <table>
          <tr>
            <th>Additional cold sub toppings are $.25 each</th>
          </tr>
          {{#each toppingsColdSub as |tcs|}}
            <tr>
              <td>{{tcs.name}}</td>
            </tr>
          {{/each}}
        </table>
      </div>
    </section>
    <br>
  {{/if}}

  {{#if item.toppingDesert}}
    <section class="card" id="html-section-tags">
      <button class="collapsible">See all desert topppings</button>
      <div class="content">
        <table>
          <tr>
            <th>Additional desert toppings are $.25 each</th>
          </tr>
          {{#each toppingsDesert as |td|}}
          <tr>
            <td>{{td.name}}</td>
          </tr>
          {{/each}}
        </table>
      </div>
    </section>
    <br>
  {{/if}}

  {{#if item.wingSauce}}
    <section class="card" id="html-section-tags">
      <button class="collapsible">See all wing sauces</button>
      <div class="content">
        <table>
          <tr>
            <th>Additional wing sauces are $.75 each</th>
          </tr>
          {{#each sauce as |s|}}
          <tr>
            <td>{{s.name}}</td>
          </tr>
          {{/each}}
        </table>
      </div>
    </section>
    <br>
  {{/if}}

  {{#if item.saladDressing}}
    <section class="card" id="html-section-tags">
      <button class="collapsible">See all salad dressings</button>
      <div class="content">
        <table>
          <tr>
            <th>Additional salad dressings are $.75 each</th>
          </tr>
          {{#each dressing as |d|}}
          <tr>
            <td>{{d.name}}</td>
          </tr>
          {{/each}}
        </table>
      </div>
    </section>
    <br>
  {{/if}}

  {{#if item.pastaType}}
    <section class="card" id="html-section-tags">
      <button class="collapsible">See all pasta options</button>
      <div class="content">
        <table>
          <tr>
            <th>Pasta options</th>
          </tr>
          {{#each pasta as |p|}}
            <tr>
              <td>{{p.name}}</td>
            </tr>
          {{/each}}
        </table>
      </div>
    </section>
    <br>
  {{/if}}

  {{#if item.desertSauce}}
    <section class="card" id="html-section-tags">
      <button class="collapsible">See all desert sauces</button>
      <div class="content">
        <table>
          <tr>
            <th>Additional desert sauces are $.75 each</th>
          </tr>
          {{#each sauceDesert as |sd|}}
            <tr>
              <td>{{sd.name}}</td>
            </tr>
          {{/each}}
        </table>
      </div>
    </section>
    <br>
  {{/if}}

  {{#if item.marinaraSauce}}
    <section class="card" id="html-section-tags">
      <button class="collapsible">See all marinara sauce options</button>
      <div class="content">
        <table>
          <tr>
            <th>Additional sauces are $.75 each</th>
          </tr>
          {{#each marinara as |m|}}
          <tr>
            <td>{{m.name}}</td>
          </tr>
          {{/each}}
        </table>
      </div>
    </section>
    <br>
  {{/if}}

  {{#if item.desertTopping}}
    <section class="card" id="html-section-tags">
      <button class="collapsible">See all desert sauces</button>
      <div class="content">
        <table>
          <tr>
            <th>Additional sauces are $.75 each</th>
          </tr>
          {{#each sauceDesert as |sd|}}
          <tr>
            <td>{{sd.name}}</td>
          </tr>
          {{/each}}
        </table>
      </div>
    </section>
    <br>
  {{/if}}
</center>

<center>
  {{!-- <a href="/menu" type="button" class="btn btn-success view-menu-button">back to menu</a> --}}
  <button class="btn btn-success view-menu-button" onclick="history.back()">Go Back</button>
</center>

<script src="/js/collapsable.js"></script>