<head>
  <link rel="stylesheet" href="/css/social.css">
  <link rel="stylesheet" href="/css/location.css">
</head>

<div class="location-background">

  <section label="location">
    <div class="container-location-header">
      <center>
        {{#each location as |i|}}
          <h1>{{i.name}}</h1>
        {{/each}}
      </center>
    </div>
  </section>
  <section label="information"> 
    {{#each information as |i|}}
      {{#if i.information1_switch}}
        <center>
          <h6>{{i.style}}</h6>
          <a href={{i.telNumber}} style="text-decoration:none;">
            <h5>{{i.phoneNumber}}</h5>
          </a>
          <a href={{i.map}} style="text-decoration:none;">
            <h5>{{i.address}}</h5>
          </a>
          <h5>{{i.email}}</h5>
          <h5>{{i.company}}</h5>
        </center> 
      {{/if}}
    {{/each}} 
  </section>
  <section label="google-maps">
    {{#each location as |l|}}
      {{#if l.nameSwitch}}
        <div class="container-location-header">
          <center>
            <h1>{{l.name1}}</h1>
          </center>
        </div>
        <div class="container-location">
          <div id="googleMap" style="width:100%;height:400px;"></div>
        </div>
      {{/if}}
    {{/each}}
  </section>
  <section label="hours">
    {{#each location as |l|}}
      {{#if l.nameSwitch}}
        <div class="container-location-header">
          <center>
            <h1>Hours of operation</h1>
          </center>
        </div>
      {{/if}}
    {{/each}}
    <div class="container-location">
      <center>
        <ul>   
          {{#each hours as |h|}}
            <li>{{h.date}}</li>          
          {{/each}} 
        </ul>
      </center>
    </div>
  </section>
  <section label="thank you">
    {{#each location as |l|}}
      {{#if l.nameSwitch}}
        <div class="container-location-header">
          <center>
            <h1>{{l.name2}}</h1>
          </center>
        </div>
        <div class="container-location">
          <center>
            <h3>{{l.description2}}</h3>
          </center>
        </div>
      {{/if}}
    {{/each}}
  </section>
  
  <section label="social-media">
    <center>
      <ul class="nav flex-row social">
        <a href="https://www.facebook.com/buonosgilbert/" class="btn"><i class="icon fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/buonospizzagilbert/?hl=en" class="btn"><i class=" icon fa fa-instagram"></i></a>
        <a href="https://www.yelp.com/biz/buono-s-pizza-gilbert" class="btn"><i class=" icon fa fa-yelp"></i></a>
      </ul>
      <h3 class="copy-right">	&copy; 2023 buonos pizza</h3>
    </center>
  </section>
</div>

<script>
  function myMap() {
    var mapProp= {
      center: new google.maps.LatLng(33.30722 ,-111.75850),
      zoom: 20,
    };

    var map = new google.maps.Map(document.getElementById("googleMap"),   mapProp);
  }
</script>

<script 
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAu0jYubSfxYv4YY6qS07FaDdR1mBRpoZ0&callback=myMap">
<script>